.a{
  display:'flex';
  flex-direction:'column';
  background-color:'#ecf4f2';
  min-height:'500px';
  min-width:'100%'
}
.aa {width:'90%';margin-left:'10%'}
.aaa {display:'flex';flex-direction:'row';min-height:'100px';padding:'2%';
  font-family:'monospace'; font-weight:'bold';min-width:'100%'}
.aaaa {min-width:'25%';font-family:'Chilanka';font-size:'100%';
  font-weight:'bold';text-align:'left'}

.aaab {display:'flex';flex-direction:'row';min-width:'40%'}
.aaaba {min-width:'5%'}

.aaabb {min-width:'5%'}

.aaabc {min-width:'15%'}

.aaabd {min-width:'5%'}

.aaabe {min-width:'15%'}

.aaabf {min-width:'5%'}

.aaabg {min-width:'15%'}

.aaabh {min-width:'5%'}

.aaabi {min-width:'15%'}

.aaac {min-width:'25%'}

.aab {min-height:'50px'}

.aac {display:'flex';flex-direction:'row';min-height:'700px'}
.aaca {width:'50%';display:'flex'; flex-direction:'row'}
.aacab {display:'flex';flex-direction:'column'}

.aacb {width:'50%';display:'flex';flex-direction:'column';font-family:'monospace';text-align:'left'}

.aad {min-height:'100px'}

.aaaca {background:'blue'; border-radius:'10%';min-width:'10%';
  padding:'2%';maxHeight:'100%';font-weight:'bold'; color:'white';border-color:'blue'}

.aab {min-height:'50px'}

.aac {display:'flex';flex-direction:'row';min-height:'700px'}

.aaca {width:'50%';display:'flex'; flex-direction:'row'}

.aacab {display:'flex';flex-direction:'column'}

.aacac {height:'100px'}

.aacbd {width:'100%';font-size:'9px';margin-top:'20px';line-height:'1.6'}

.aacbe {margin-top:'20px'}

.aacbea {font-weight:'bold';background:'blue'; border-radius:'10%';padding:'2%';
  color:'white'; width:'25%';border-color:'blue';margin-top:'5%'}

.aad {min-height:'100px'}

.b {background-color:'#F2F3F4'}
.ba {display:'flex';flex-direction:'row';min-height:'100px';padding:'2%';margin-top:'-6%'; 
    margin-left:'20%'; width:'50%';text-align:'center';font-family:'monospace'}

.baa {padding:'2%';background:'white';width:'25%';border-radius:'18%';margin-right:'-3%'}
.sdfg{background-color:'white';border-color:'white';
    margin-top:'10%';padding:'5%';font-weight:'bold'}

.bab {padding:'2%';background:'white';width:'25%'}

.baba {background-color:'white';border-color:'white';margin-top:'10%';padding:'5%';
      font-weight:'bold'}

.bac {padding:'2%';background:'white';width:'25%';z-index:'1'}
.sdfgh{background-color:'white';border-color:'white';margin-top:'10%';padding:'5%';
      font-weight:'bold'}

.bad {padding:'2%';background:'blue';width:'25%';border-radius:'18%';z-index:'0';margin-left:'-3%'
        ;border-color:'blue'}

.bada {display:'flex';flex-direction:'column';width:'100%';color:'white';font-weight:'bold'
          ;margin-top:'10%';margin-left:'9%'}

.c {background-color:'#F2F3F4';margin-top:'-6%'}

.ca {display:'flex';flex-direction:'column';min-height:'500px';text-align:'center';
            font-family:'monospace'}

.caa {font-size:'30px' ;margin-top:'9%';font-family:'Times';font-weight:'bold'}

.cab {margin-top:'-0%';font-size:'30px';font-family:'Times';font-weight:'bold'}
.cac {margin-top:'20px';font-size:'9px'}
.cad {font-size:'9px'}



